.put-user-registerID {
    background-color: rgba(0, 0, 0, 0.509); 
 
    /* margin-top: 10px; */
    width: 100%;
    height: 90vh; 
    font-size: 12px;
    display: flex; 
    justify-content: center; 
    align-items: flex-end; 
    flex: 3;
}

.put-user-registerID-form {
    height:80vh; 
    background-color: white;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); 
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.div-register{
    flex-direction: row;
    display: flex;
    margin-top: 2vh;
}




.put-user-registerID-form input {
    padding: 10px; 
    margin-bottom: 20px; 
    width: calc(100% - 20px); 
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(31, 30, 30, 0.7); 
    color: rgba(0, 0, 0, 0.7); 
    margin: 4px;
    outline: none;
    transition: border-bottom-color 0.3s;
}
.put-user-registerID-form select {
    padding: 10px; 
    margin-bottom: 20px; 
    width: calc(100% - 110px); 
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(31, 30, 30, 0.7); 
    color: rgba(0, 0, 0, 0.7); 
    margin: 4px;
    outline: none;
    transition: border-bottom-color 0.3s;
}
.put-user-registerID-form input:focus {
    border-bottom-color:  rgba(31, 30, 30, 0.7);
}
.put-user-registerID-h2 {
    color: black;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 28px;
}

.put-user-registerID-h3 {
    color: black;
    margin-right: 10px;
    margin-bottom: 10px;
}



.put-user-registerID-form button {
    width: 12vw; 
    padding: 5px;
    background-color:var(--button);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    margin: 0 auto; 
    margin-top: 15px;
    margin-right: 18vw;
    margin-top: 2vh;
  
} 
.add-user-register-option-active{
    width: 30vw;
    margin-left: 20vw;
}
.dd-user-register-form-active{
    margin-right: 5vw;
    /* margin-top: 2vh; */
}