:root{
  --bg:#ffffff;
  --bgSoft:#ffffff;
  --text:rgb(83, 79, 79);
  --textSoft:#b7bac1;
  --button: #F0B918;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  direction: rtl;
  text-align: right;
}


  body {
    background-color: var(--bg);
    color: var(--text);
    overflow-x: hidden; /* Add this line to hide horizontal overflow */
    
  }
  a{
    color: inherit;
    text-decoration: none;
  }