.display-admin {
    overflow: hidden;
    margin-top: 0;
}
.display-admin-details {
    padding: 5px;
    margin-right: 60px;
}

.display-imag-admin {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    /* Add this line */
}

.display-admin-put-details {
    position: absolute;
    /* Add this line */
    top: 43vh;
    left: 86vw;
    background-color: transparent;
    /* Add other styles as needed */
    border: none;
    cursor: pointer;
}

.display-admin-put {
    width: 20vw;
    height: 5vh;
    padding: 5px;
    background-color: var(--button);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-right: 5.5vw;
    text-align: center;
    align-items: center;

}


.button-Correspondence-admin {
    display: flex;
}

.correspondence-admin {
    margin-right: 30vw;
    border: 2px solid rgb(189, 189, 189);
    padding: 10px;
    border-radius: 10px;
    width: 35vw;
    margin-top: -5vw;

}

.iconBsEnvelope-admin {
    margin-right: 1vw;

}

.directorDiv-admin {
    border: 1px solid rgb(44, 43, 43);
    padding: 10px;
    border-radius: 10px;
    max-width: 30vw;
    width: max-content;
    margin-bottom: 10px;
    align-self: flex-start;
    text-align: left;
    margin-right: auto;
    position: relative;
    transition: background-color 0.3s ease; /* הוספת אנימציה */
}


/* צביעת הרקע בצהוב בעת ריחוף */
.directorDiv-admin:hover {
    background-color: var(--button);
}

.client-admin {
    border: 1px solid rgb(189, 189, 189);
    padding: 10px;
    border-radius: 10px;
    max-width: 30vw;
    width: max-content;
    margin-bottom: 10px;

}


.correspondence-button-admin {
    width: 13vw;
    height: 5vh;
    padding: 5px;
    background-color: var(--button);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-right: 9.5vw;
    text-align: center;
    align-items: center;

}

.correspondence-message-admin {
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
    text-align: right;
    color: #000000;
    margin-bottom: 2vh;


}

.display-admin {
    overflow: hidden;
}

.display-admin {
    margin-top: 0;
    /* או ערך קטן יותר */
}

@media (max-width: 768px) {
    .display-admin {
        overflow: hidden;
        margin-top: 0;
    }

    .side-bar-logout {
        margin-right: 77vw;
    }

    .display-imag-admin {

        width: 70px;
        height: 70px;
    }

    .display-admin-details {
        margin-right: 30px;
    }

    .display-admin-put {
        width: 60vw;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
        margin-right: 20vw;
        align-items: center;

    }

    .button-Correspondence-admin {
        display: block;
    }

    .correspondence-admin {
        margin-top: 5vh;
        width: 70vw;
        margin-right: 15vw;
    }

    .director-admin {
        max-width: 60vw;
    }

    .correspondence-message-admin {
        font-weight: 700;
        font-size: 14px;
        line-height: 15px;
        text-align: right;
        margin-bottom: 2vh;
    }
    .correspondence-button-admin {
        width: 60vw;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
        margin-right: 2.5vw;  
        align-items: center;
      }
      .directorDiv-admin {
        max-width: 100%; /* מלא את הרוחב של המסך */
        padding: 8px; /* פחות padding כדי לחסוך מקום */
    }
}