/* chat-add.css */

.chat-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 16px;
    background-color: #f0f0f0;
}

.header {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #075e54;
    color: #ffffff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.header-avatar {
    margin-right: 16px;
}

.form-container {
    padding: 16px;
    flex: 1;
}

.styled-text-field {
    flex: 1;
    margin-right: 8px;
}

.send-button {
    margin-top: 16px;
    background-color: #075e54; /* צבע הירוק של וואטסאפ */
}

.send-button:hover {
    background-color: #128C7E; /* הצבע הירוק הכהה יותר של וואטסאפ */
}

.error-message {
    color: #f44336; /* צבע אדום */
    margin-top: 16px;
}
