
.chat-containerU {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 0;

}

.messages-list-titleU {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}



.messagesMapU {

    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #efeae2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70vw;
}



.sender-messageU {
    background: #dcf8c6;    padding: 10px;
    border-radius: 20px;
    align-self: flex-end;
    text-align: right;
    margin-left: auto;

    max-width: 30vw;
    width: max-content;
}

.receiver-messageU {
    align-self: flex-start;
    text-align: left;
    margin-right: auto;
    width: max-content;

    max-width: 75%;
    padding: 8px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.sender-TimestampU,
.receiver-TimestampU {
    font-size: 12px;
    color: #666;
    margin: 5px 0;
}

.sender-TimestampU {
    align-self: flex-end;
    margin-right: 10px;
}

.receiver-TimestampU {
    align-self: flex-start;
    text-align: left;
    margin-left: 10px;
}

.paginationU {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paginationU button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.paginationU button:disabled {
    background-color: #ccc;
}

.paginationU span {
    margin: 0 10px;
}

.message-input-containerU {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
}

.message-inputU {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    
}

.message-input-buttonU {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.message-input-button:hoverU {
    background-color: #0056b3;
}
.chat-header-user{
    display: flex;
    align-items: center;

gap: 10px;
    align-items: center;
    padding: 16px;
    background-color: #e5ddd5;
    color: #fff;
}

.chat-avatar-user {
    margin-right: 8px; /* המרווח שברצונך להוסיף, למשל 8 פיקסלים */
    background-color: #e5ddd5;
    margin-right: 16px;
}