.They-tell-us-titleS{

font-weight: 700;
font-size: 36px;
line-height: 38px;
margin-right: 5vw;
text-align: right;
color: #000000;
margin-top: 25vh;
}
.They-tell-us-buttons{
    display: flex;
    margin-top: 8vh;

}
.They-tell-us-button-w{
    background: #FFFFFF;
    box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: #000;
    width: 40vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8vw;
    margin-bottom: 4vh;
}
.They-tell-us-button-b{
    background: #F0B918;
    box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: #000;
    width: 40vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8vw;
    margin-bottom: 4vh;

}
.svg-container {
    display: flex;
    margin-top: -1vh;
}
.They-tell-us-Caption{
font-weight: 400;
font-size: 16px;
line-height: 16px;
text-align: right;
width: 25vw;
color: #000000;
margin-right: 10vw;
margin-bottom: 4vh;

}



@media (max-width: 768px) {

    .They-tell-us-titleS{
        margin-top: 15vh;
        margin-right: 6vw;
font-weight: 700;
font-size: 14px;
line-height: 15px;
margin-top: 10vh;

    }
    .They-tell-us-button-w,.They-tell-us-button-b{
        width: 80vw;
        height: 6vh;
        margin-bottom: 2vh;

    }
    .They-tell-us-Caption{
        width: 60vw;
        margin-right: 15vw;
    }
}