.side-bar {
  position: sticky;
  top: 40px;
  padding: 0; /* Add this line to remove padding */
  margin: 0; /* Add this line to remove margin */

}
.side-bar-user{
display: flex;
align-items: center;
}

.side-bar-user-details{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    gap: 5px;
    font-size: 12px;
    color: var(--textSoft);
}
.side-car-user-username{
    font-weight: 500;
}


.side-bar-menu-cat{
    color: var(--textSoft);
    font-weight: bold;
    margin: 10px, 0px;
}
.side-bar-menu-catM{
    margin-left: 38vw;
}
.side-bar-menu-link{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
    border-radius: 10px;
    font-size: 11px; 
}
.side-bar-menu-link-ADMIN{
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
    border-radius: 10px;
    font-size: 8px; 
 }
.side-bar-menu-link:hover, .side-bar-menu-link:active{
    color: rgb(43, 80, 245);
  text-decoration: underline;
  text-underline-offset: 20px; /* Set the offset of the underline */
}
.side-bar-logout{
    margin: 5px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
   border: none;
    background: none;
    color: var(--textSoft);
    width: 100%;
    margin-right: 95vw;
    font-size: 14px;
}


.side-bar-menu-list {
    display: flex; /* or grid */
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .side-bar-menu-cat {
    margin-right: 10px; /* Optional: Adjust spacing between categories */
  }
  
  .side-bar-menu-list li {
    display: flex; /* or grid */
  }
  .side-bar-menu-img{
    width: 60px;
    height: 60px;
    margin: 20px;
  }