/* continue-chatting.css */

.continue-chatting-form {
    display: flex;
    align-items: center;
    padding: 8px;
    background: #ffffff;
    border-top: 1px solid #ddd;
}

.continue-chatting-field {
    flex-grow: 1;
    margin-right: 8px;
}

.continue-chatting-input {
    border-radius: 20px;
    background-color: #fff;
}

.continue-chatting-input .MuiInputBase-input {
    padding: 10px;
}

.continue-chatting-submit-button {
    color: rgba(45, 70, 196, 0.808);
}

.continue-chatting-submit-button.disabled {
    color: gray;
}

.continue-chatting-error {
    color: #f44336; /* צבע אדום */
    margin-top: 8px;
}
