/* user-register-list.css */

.register-list-title-user {
    font-size: 36px;
    background-color: white;
    padding: 20px;
    border-bottom: 3px solid rgba(31, 30, 30, 0.7);
    text-align: center;
    /* Center align the title */
    color: #1A7D99;
    font-weight: 700;

}

.register-list {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-gap: 20px;
    /* Space between grid items */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Responsive grid layout */
    justify-items: center;
    /* Center align grid items */
}

.register-list-Map {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    /* Light gray background */
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    /* Smooth transform animation */
    max-width: 300px;
    /* Limit width for responsiveness */
    font-size: 18px;
}

.register-list-Map:hover {
    transform: translateY(-5px);
    /* Lift card on hover */
}

.update-details {
    margin-top: 10px;
    /* Add space between details and button */
    padding: 5px;
    background-color: var(--button);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 12vw;
    height: 5vh;

}


.google-link {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.google-link:hover {
    text-decoration: underline;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    /* Space below image */
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    /* Adjust this value to center the knob */
    bottom: 3px;
    /* Adjust this value to center the knob */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--button);
}

input:checked+.slider:before {
    transform: translateX(19px);
    /* Adjust this value based on the width of the slider */
}

.register-list-Map .toggle-switch {
    margin-right: 10px;
    /* Add space between the toggle and the title */
}

@media (max-width: 768px) {
    .register-list-title-user {
        font-weight: 700;
        font-size: 19px;
        line-height: 18px;
        text-align: right;
    }

    .update-details {
        width: 40vw;
        padding: 15px;
        border-radius: 15px;
        background-color: var(--button);
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;
        border: none;
    }
}